In [ ]:

#* 1.

class Person:
  pass
print(Person)

In [ ]:

#* 2.

class Person:
  def __init__(self, name, lastname):
    self.name = name
    self.lastname = lastname

p = Person('Supasima' , 'Tongma')
print(p.name,p.lastname)

In [ ]:

#* 3.

class Person:
  def __init__(self, name, lastname, age, country, city):
    self.name = name
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city

  def person_info(self):
    return f'{self.name} {self.lastname} is {self.age} years old. She lives in {self.country}, {self.city}'

p = Person('Supasima' , 'Tongma' , 21 , 'Thailand' , 'Sriracha')
# print(p.name,p.lastname,p.age,p.country,p.city)
print(p.person_info())

In [ ]:

#* 4.

class Person:
  def __init__(self, firstname='Supasima', lastname='Rungrote', age=50, country='Finland', city='Helsinki'):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city

  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. She lives in {self.country}, {self.city}'

p1 = Person()
print(p1.person_info())
p2 = Person('John', 'Doe', 30, 'Nomanland', 'Noman city')
print(p2.person_info())

In [ ]:

#* 5.

class Person:
  def __init__(self, firstname='Supasima', lastname='Rungrote', age=50, country='Finland', city='Helsinki'):
    self.firstname = firstname
    self.lastname = lastname
    self.age = age
    self.country = country
    self.city = city
    self.skills = []

  def person_info(self):
    return f'{self.firstname} {self.lastname} is {self.age} years old. She lives in {self.country}, {self.city}'

  def add_skill(self, skill):
    self.skills.append(skill)

p1 = Person()
print(p1.person_info())
p1.add_skill('HTML')
p1.add_skill('CSS')
p1.add_skill('JavaScript')
p2 = Person('John', 'Doe', 30, 'Nomanland', 'Noman city')
print(p2.person_info())
print(p1.skills)
print(p2.skills)
p2.add_skill('Python')
p2.add_skill('MongoDB')
print(p2.skills)

In [ ]:

#* 6.
#? Inheritance

class Student(Person):
  pass

s1 = Student('Eyob', 'Yetateh', 30, 'Finland', 'Helsinki')
s2= Student('John', 'Doe', 20, 'Nomanland', 'Noman city')
print(s1.person_info())
s1.add_skill('JavaScript')
s1.add_skill('React')
s1.add_skill('Python')
print(s1.skills)

print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)